#main{
  width: 960px;
  margin:auto;
  background-color: lightyellow;
  text-align: center;
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
}

#list{

 width:200px;
 margin: auto;
 text-align: justify;
}

h1{
 padding-top: 20px;

}
blockquote{

 font-style: italic;
 border-style: solid;
 border-color: cyan;
 border-width: medium;
 width:500px;
 margin: auto;;
 padding-top:10px;
 padding-bottom: 10px;
 margin-top: 10px;
 font-size: 26px;
}
